.introduction {
    display: block;
    text-align: center;
}

.startButton {
    display: block;
    text-align: center;
    align-content: center;
}

.timer {
    display: none;
    text-align: center;
}

.quizContainer {
    display: none;
}

/* .highScores {
    display: none;
} */

#timer {
    padding: 20px;
    margin: 50px;
}

.user {
    display: none;
}