.introduction {
    display: block;
    text-align: center;
}

.startButton {
    display: block;
    text-align: center;
    align-content: center;
}

.timer {
    display: none;
    text-align: center;
}

.quizContainer {
    display: none;
}

#timer {
    padding: 20px;
    margin: 50px;
}

#answer-choices {
    border: #ffd700;
    border-width: 5px;
}